<!DOCTYPE html>
<html>
  <head>
    <title><%= @title%></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="<%=root_url%>/js/lib/underscore.js"></script>
    <script type="text/javascript" src="<%=root_url%>/js/lib/jquery.js"></script>
    <script type="text/javascript" src="<%=root_url%>/js/lib/popper.js"></script>
    <script type="text/javascript" src="<%=root_url%>/js/lib/bootstrap.js"></script>
    <script type="text/javascript" src="<%=root_url%>/js/lib/bootbox.js"></script>
    <script type="text/javascript" src="<%=root_url%>/js/lib/angular.js"></script>
    <script type="text/javascript" src="<%=root_url%>/js/lib/angular-route.js"></script>
    <script type="text/javascript" src="<%=root_url%>/js/lib/angular-cookies.js"></script>
    <script type="text/javascript" src="<%=root_url%>/js/lib/angular-sanitize.js"></script>
    <link rel="stylesheet" type="text/css" href="<%=root_url%>/css/lib/normalize.css">
    <link rel="stylesheet" type="text/css" href="<%=root_url%>/css/lib/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="<%=root_url%>/css/lib/bootstrap.css">
    <link rel="shortcut icon" type="image/x-icon" href="<%=root_url%>/favicon.ico">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
